site_name: GCP Nuke
site_url: https://ekristen.github.io/gcp-nuke
site_author: Erik Kristensen
site_description: >-
 GCP Nuke is a tool to clean up your GCP project by nuking (deleting) all resources within it.

repo_name: ekristen/gcp-nuke
repo_url: https://github.com/ekristen/gcp-nuke

copyright: Copyright &copy; 2024 - Erik Kristensen

site_dir: public

# Configuration
theme:
  name: material
  language: en
  palette:
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/link
        name: Switch to light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/toggle-switch
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      accent: indigo
      toggle:
        icon: material/toggle-switch-off
        name: Switch to system preference
  features:
    - navigation.footer
    - navigation.indexes
    - navigation.path
    - navigation.sections
    - navigation.tabs
    - toc.follow
    - toc.integrate
    - content.code.annotate
    - content.code.copy
    - content.tooltips
    - search.highlight
    - search.share
    - search.suggest

# Plugins
plugins:
  - search

# Extensions
markdown_extensions:
  - admonition
  - pymdownx.highlight
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - toc:
      permalink: true

# Page tree
nav:
  - Getting Started:
      - Overview: index.md
      - Warning: warning.md
      - Install: installation.md
      - Quick Start: quick-start.md
  - Features:
      - Overview: features/overview.md
      - Global Filters: features/global-filters.md
      - All Regions: features/all-regions.md
      - Signed Binaries: features/signed-binaries.md
  - CLI:
      - Usage: cli-usage.md
      - Options: cli-options.md
      - Experimental: cli-experimental.md
  - Config:
      - Overview: config.md
      - Filtering: config-filtering.md
      - Presets: config-presets.md
  - Development:
      - Overview: development.md
      - Contributing: contributing.md
      - Standards: standards.md
      - Resources: resources.md
      - Releases: releases.md
      - Testing: testing.md
  - Resources:
      - Alloy DB Cluster: resources/alloy-db-cluster.md
      - Alloy DB Instance: resources/alloy-db-instance.md
      - Artifact Registry Repository: resources/artifact-registry-repository.md
      - Big Query Dataset: resources/big-query-dataset.md
      - Bigtable Instance: resources/bigtable-instance.md
      - Bigtable Table: resources/bigtable-table.md
      - Certificate Manager Certificate: resources/certificate-manager-certificate.md
      - Certificate Manager Certificate Map: resources/certificate-manager-certificate-map.md
      - Certificate Manager Certificate Map Entry: resources/certificate-manager-certificate-map-entry.md
      - Certificate Manager DNS Authorization: resources/certificate-manager-dns-authorization.md
      - Cloud Deploy Delivery Pipeline: resources/cloud-deploy-delivery-pipeline.md
      - Cloud Deploy Target: resources/cloud-deploy-target.md
      - Cloud Function: resources/cloud-function.md
      - Cloud Function 2: resources/cloud-function-2.md
      - Cloud Run: resources/cloud-run.md
      - Cloud Run Job: resources/cloud-run-job.md
      - Cloud SQL Backup: resources/cloud-sql-backup.md
      - Cloud SQL Instance: resources/cloud-sql-instance.md
      - Cloud Scheduler Job: resources/cloud-scheduler-job.md
      - Cloud Tasks Queue: resources/cloud-tasks-queue.md
      - Composer Environment: resources/composer-environment.md
      - Compute Backend Bucket: resources/compute-backend-bucket.md
      - Compute Backend Service: resources/compute-backend-service.md
      - Compute Common Instance Metadata: resources/compute-common-instance-metadata.md
      - Compute Disk: resources/compute-disk.md
      - Compute External VPN Gateway: resources/compute-external-vpn-gateway.md
      - Compute Firewall: resources/compute-firewall.md
      - Compute Forwarding Rule: resources/compute-forwarding-rule.md
      - Compute Health Check: resources/compute-health-check.md
      - Compute Instance: resources/compute-instance.md
      - Compute Instance Group: resources/compute-instance-group.md
      - Compute Network Endpoint Group: resources/compute-network-endpoint-group.md
      - Compute Packet Mirroring: resources/compute-packet-mirroring.md
      - Compute SSL Certificate: resources/compute-ssl-certificate.md
      - Compute Security Policy: resources/compute-security-policy.md
      - Compute Target GRPC Proxy: resources/compute-target-grpc-proxy.md
      - Compute Target HTTP Proxy: resources/compute-target-http-proxy.md
      - Compute Target HTTPS Proxy: resources/compute-target-https-proxy.md
      - Compute Target Pool: resources/compute-target-pool.md
      - Compute Target SSL Proxy: resources/compute-target-ssl-proxy.md
      - Compute Target TCP Proxy: resources/compute-target-tcp-proxy.md
      - Compute Target VPN Gateway: resources/compute-target-vpn-gateway.md
      - Compute URL Map: resources/compute-url-map.md
      - Compute VPN Gateway: resources/compute-vpn-gateway.md
      - Compute VPN Tunnel: resources/compute-vpn-tunnel.md
      - DNS Managed Zone: resources/dns-managed-zone.md
      - DNS Record Set: resources/dns-record-set.md
      - Dataflow Job: resources/dataflow-job.md
      - Dataproc Cluster: resources/dataproc-cluster.md
      - Dataproc Job: resources/dataproc-job.md
      - Filestore Backup: resources/filestore-backup.md
      - Filestore Instance: resources/filestore-instance.md
      - Firebase Auth Provider: resources/firebase-auth-provider.md
      - Firebase OAuth Provider: resources/firebase-o-auth-provider.md
      - Firebase Realtime Database: resources/firebase-realtime-database.md
      - Firebase Web App: resources/firebase-web-app.md
      - Firestore Database: resources/firestore-database.md
      - GKE Cluster: resources/gke-cluster.md
      - IAM Policy Binding: resources/iam-policy-binding.md
      - IAM Role: resources/iam-role.md
      - IAM Service Account: resources/iam-service-account.md
      - IAM Service Account Key: resources/iam-service-account-key.md
      - IAM Workload Identity Pool: resources/iam-workload-identity-pool.md
      - IAM Workload Identity Pool Provider: resources/iam-workload-identity-pool-provider.md
      - KMS Key: resources/kms-key.md
      - Memorystore Cluster: resources/memorystore-cluster.md
      - Memorystore Memcached Instance: resources/memorystore-memcached-instance.md
      - Memorystore Redis Instance: resources/memorystore-redis-instance.md
      - Memorystore Valkey Instance: resources/memorystore-valkey-instance.md
      - Pub Sub Schema: resources/pub-sub-schema.md
      - Pub Sub Subscription: resources/pub-sub-subscription.md
      - Pub Sub Topic: resources/pub-sub-topic.md
      - Secret Manager Secret: resources/secret-manager-secret.md
      - Service Connection Policy: resources/service-connection-policy.md
      - Spanner Database: resources/spanner-database.md
      - Spanner Instance: resources/spanner-instance.md
      - Storage Bucket: resources/storage-bucket.md
      - Storage Bucket Object: resources/storage-bucket-object.md
      - VPC Global IP Address: resources/vpc-global-ip-address.md
      - VPC IP Address: resources/vpcip-address.md
      - VPC Network: resources/vpc-network.md
      - VPC Route: resources/vpc-route.md
      - VPC Router: resources/vpc-router.md
      - VPC Subnet: resources/vpc-subnet.md
      - Vertex AI Endpoint: resources/vertex-ai-endpoint.md
      - Vertex AI Model: resources/vertex-ai-model.md
      - Vertex AI Pipeline Job: resources/vertex-ai-pipeline-job.md
